body, h1, h2, h3 {
  font-family: 'Slabo 27px';
  font-weight: 300;
  background-image: url('../resources/subtle_white_feathers.png');
}

.map-main {
  position: absolute;
  display: inline;
  float: left;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 70%;
}

#pop {
  padding-top: 10px;
  float: right;
}

.popover {
  text-align: left;
}

.popover-title {
    font-weight: 800;
}
.popover-content p {
    width: 200px;
    float: right;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0px;
  width: 30%;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
}

.index {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 200;
}

.sidebar-nav {
  width: 100%;
  top: 0;
  overflow-x:hidden;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  list-style: none;
}

.title {
  margin: 0 auto;
  text-align: center;
}

.desc {
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

.moreDesc{
  font-size: 15px;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
}

.label {
  vertical-align: middle;
  display: inline;
  color: black;
  font-size: 15px;
}

.dropdown {
  display:inline;
}

.row {
  border-top: 2px solid #eeeeee;
  padding-top: 25px;
  padding-bottom: 25px;
}

#map {
  height: 100%;
  width: 100%;
  border-right: 2px solid #eeeeee;
}

.leaflet-container {
  background: #4a5870;
}
.info {
  text-align: center;
  padding: 3px 5px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  color: #777;
}
.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.uploader {
  text-align: center;
}

.uploader > .btn-default {
background-color: #50a896;
width: 100px;
height: 40px;
}

.uploader > .btn-default:hover {
  opacity: .8 ;
}

.upload {
  text-align: center;
  color: white;
  font-size: 20px;
}

.float-right {
  float: right;
}
